{
  "$schema": "https://json.schemastore.org/prettierrc",
  "plugins": ["prettier-plugin-tailwindcss"],
  "endOfLine": "lf",
  "semi": true,
  "tabWidth": 2,
  "singleQuote": false,
  "printWidth": 100,
  "trailingComma": "all"
}
